<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HUAC学科ツール パスワード変更
    </title>
    <link rel="stylesheet" href="../static/GK1C0041.css">
</head>

<body>
    <header>
        <h1>HUAC学科ツール</h1>
    </header>

    <main>
        <section class="options">
            <h2>パスワード変更</h2>
            <a>新パスワードを入力してください。</a>
            <br>
            <br>
            {% if err %}
            <a class="err">{{err}}</a>
            <br>
            <br>
            {% endif %}
            <a>変更する学籍番号：{{session['user_id']}}</a>
            <form method="post" action="/GK_db010">
                <div class="input-group">
                    <label for="pass1">新パスワード（１回目）</label>
                    <input type="password" id="pass1" name="pass1" placeholder="ここに入力してください">
                </div>
                <div class="input-group">
                    <label for="pass2">新パスワード（２回目）</label>
                    <input type="password" id="pass2" name="pass2" placeholder="ここに入力してください">
                </div>
                <div class="button-group">
                    <button type="button" onclick="location.href='/GK_menu01'" class="menu-button">Menu</button>
                    <button type="submit" class="execute-button">実行</button>
                </div>

            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Yuichi Taniguchi</p>
    </footer>
</body>

</html>