<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HUAC学科ツール 各種CHKデータ照会（一括表示）</title>
    <link rel="stylesheet" href="../static/GK1C0044.css">
</head>

<body>
    <header>
        <h1>HUAC学科ツール</h1>
    </header>

    <main>
        <section class="options">
            <h2>各種CHKデータ照会（一括表示）</h2>
            <form method="post" action="/GK_db041">
                <div class="data-section">
                    {% for list1 in chklist %}
                    <a>■{{ list1[0] }}</a>
                    <table class="data-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>法規</th>
                                <th>気象</th>
                                <th>工学</th>
                                <th>情報</th>
                                <th>学生CHK</th>
                                <th>教官CHK</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>合格日</th>
                                <td>{{ list1[1] }}</td>
                                <td>{{ list1[2] }}</td>
                                <td>{{ list1[3] }}</td>
                                <td>{{ list1[4] }}</td>
                                <td>{{ list1[5] }}</td>
                                <td>{{ list1[6] }}</td>
                            </tr>
                            <tr>
                                <th>担当者</th>
                                <td>{{ list1[7] }}</td>
                                <td>{{ list1[8] }}</td>
                                <td>{{ list1[9] }}</td>
                                <td>{{ list1[10] }}</td>
                                <td>{{ list1[11] }}</td>
                                <td>{{ list1[12] }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <br><br>
                    {% endfor %}
                </div>
                <div class="button-group">
                    <button type="button" onclick="location.href='/GK_menu01'" class="menu-button">戻る</button>
                </div>
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Yuichi Taniguchi</p>
    </footer>
</body>

</html>