<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HUAC学科ツール 学生情報訂正</title>
    <link rel="stylesheet" href="../static/GK1C0041.css">
</head>

<body>
    <header>
        <h1>HUAC学科ツール</h1>
    </header>

    <main>
        <section class="options">
            <h2>学生情報訂正</h2>
            {% if err %}
            <a class="err">{{ err }}</a>
            <br><br>
            {% endif %}
            <form method="post" action="/GK_db003">
                <div class="data-section">
                    <h3>変更前</h3>
                    <table class="data-table">
                        <thead>
                            <tr>
                                <th>学籍番号</th>
                                <th>氏名</th>
                                <th>状況CD</th>
                                <th>出題区分</th>
                                <th>解答状況CD</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ gakusei[0] }}</td>
                                <td>{{ gakusei[1] }}</td>
                                <td>{{ gakusei[2] }}</td>
                                <td>{{ gakusei[3] }}</td>
                                <td>{{ gakusei[4] }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="data-section">
                    <h3>変更後</h3>
                    <table class="data-table">
                        <thead>
                            <tr>
                                <th>学籍番号</th>
                                <th>氏名</th>
                                <th>状況CD</th>
                                <th>出題区分</th>
                                <th>解答状況CD</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ gakusei[0] }}</td> <!-- 学籍番号は変更不可 -->
                                <td><input type="text" name="name" value="{{ gakusei[1] }}" class="table-input"></td>
                                <td>
                                    <select name="status_cd" class="table-input">
                                        <option value="0" {% if gakusei[2]==0 %}selected{% endif %}>0:自家用養成中</option>
                                        <option value="1" {% if gakusei[2]==1 %}selected{% endif %}>1:学生チェック済み</option>
                                        <option value="2" {% if gakusei[2]==2 %}selected{% endif %}>2:教官チェック済み</option>
                                        <option value="3" {% if gakusei[2]==3 %}selected{% endif %}>3:自家用取得済み</option>
                                        <!-- <option value="4" {% if gakusei[2]==4 %}selected{% endif %}></option> -->
                                        <option value="5" {% if gakusei[2]==5 %}selected{% endif %}>5:退部済み</option>
                                        <option value="6" {% if gakusei[2]==6 %}selected{% endif %}>6:学科班</option>
                                        {% if session['authority'] == 9 %}
                                        <option value="7" {% if gakusei[2]==7 %}selected{% endif %}>7:学科班主任</option>
                                        <option value="8" {% if gakusei[2]==8 %}selected{% endif %}>8:教官</option>
                                        <option value="9" {% if gakusei[2]==9 %}selected{% endif %}>9:管理者</option>
                                        {% endif %}
                                    </select>
                                </td>
                                <td>
                                    <select name="kanri_cd" class="table-input">
                                        <option value="0" {% if gakusei[3]==0 %}selected{% endif %}>0:テスト有</option>
                                        <option value="1" {% if gakusei[3]==1 %}selected{% endif %}>1:テスト無</option>
                                    </select>
                                </td>
                                <td><input type="text" name="answer_cd" value="{{ gakusei[4] }}" class="table-input">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="button-group">
                    <button type="button" onclick="location.href='/GK_db002'" class="menu-button">戻る</button>
                    <button type="submit" class="execute-button">訂正</button>
                </div>
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Yuichi Taniguchi</p>
    </footer>
</body>

</html>