<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HUAC学科ツール メニュー</title>
    <link rel="stylesheet" href="../static/GK1C0002.css">
</head>

<body>
    <header>
        <h1>HUAC学科ツール</h1>
    </header>

    <main>
        <section class="options">
            <h2>機能選択</h2>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="err">
                {{ messages[0] }}
            </div>
            <br>
            <br>
            {% endif %}
            {% endwith %}
            <form method="post">
                {% if session['authority'] in [0, 1, 2, 3, 6, 7, 9] %}
                <div class="data-section">
                    <div class="radio-section">
                        <label class="radio-group"><input type="radio" name="selection" value="practice"
                                checked>練習問題</label>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="bunya">分野:</label>
                                <select id="bunya" name="bunya">
                                    <option value="A">法規</option>
                                    <option value="B">工学</option>
                                    <option value="C">気象</option>
                                    <option value="D">情報</option>
                                    <option value="E">その他</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="mondai_num">問題数(5~25問):</label>
                                <input type="number" id="mondai_num" name="mondai_num" value="5" min="5" max="25"
                                    required>
                                <small style="color: #666; font-size: 0.9em;"></small>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="radio-section">
                        <label class="radio-group"><input type="radio" name="selection" value="nigate">苦手克服</label>
                    </div> -->
                    <div class="radio-section">
                        <label class="radio-group"><input type="radio" name="selection" value="test">小テスト</label>
                    </div>
                </div>
                {% endif %}
                <!-- {% if session['authority'] in [6,7,8,9] %}
                <div class="data-section">
                    <div class="radio-section">
                        <label class="radio-group"><input type="radio" name="selection" value="analysis">苦手分析</label>
                    </div>
                </div>
                {% endif %} -->
                <div class="data-section">
                    <div class="radio-section">
                        <label class="radio-group"><input type="radio" name="selection" value="db_show">ＤＢ照会</label>
                        <div class="form-group">
                            <label for="db_kbn1"></label>
                            <select id="db_kbn1" name="db_kbn1">
                                {% if session['authority'] in [6, 7, 8, 9] %}
                                <option value="1">学生情報照会</option>
                                {% endif %}
                                <option value="2">小テスト履歴照会</option>
                            </select>
                        </div>
                    </div>
                </div>
                {% if session['authority'] in [7, 9] %}
                <div class="data-section">
                    <div class="radio-section">
                        <label class="radio-group"><input type="radio" name="selection"
                                value="db_edit">ＤＢ登録・訂正・削除</label>
                        <div class="form-group">
                            <label for="db_kbn2"></label>
                            <select id="db_kbn2" name="db_kbn2">
                                <option value="1">学生情報訂正</option>
                                <option value="2">学生情報登録</option>
                            </select>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="data-section">
                    <div class="radio-section">
                        <label class="radio-group"><input type="radio" name="selection" value="password">パスワード変更</label>
                    </div>
                </div>
                <div class="button-group">
                    <button type="submit" class="execute-button">実行</button>
                </div>
            </form>
        </section>

        <div class="data-section info-section">
            <a href="{{ url_for('GK_logout') }}">ログアウト</a>
            <div>推奨ブラウザ：Chrome</div>
            <div>スマホでも使用できるが、画面はPCサイズで出力される。</div>
        </div>
    </main>

    <footer>
        <p>&copy; 2025 Yuichi Taniguchi</p>
    </footer>
</body>

</html>