<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HUAC学科ツール 練習問題答え</title>
    <link rel="stylesheet" href="../static/GK1C0002.css">
</head>

<body>
    <header>
        <h1>HUAC学科ツール</h1>
    </header>

    <main>
        <section class="options">
            <form method="post" action="/GK_practice02">
                <h2>問題文</h2>
                <div><a>{{ question | trim | safe }}</a></div>
                <br>
                <h2>答え</h2>
                <div style="text-align: center;">
                    <a>{{ answer | trim | safe }}</a>
                </div>
                <div class="button-group">
                    <button type="button" onclick="location.href='/GK_menu01'" class="menu-button">Menu</button>
                    {% if err == 0 %}
                    <button type="submit" class="execute-button">次の問題</button>
                    {% endif %}
                </div>

            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Yuichi Taniguchi</p>
    </footer>
</body>

</html>