<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HUAC学科ツール 練習問題</title>
    <link rel="stylesheet" href="../static/GK1C0002.css">
</head>

<body>
    <header>
        <h1>HUAC学科ツール</h1>
    </header>

    <main>
        <section class="options">
            <h2>問題文</h2>
            <form method="post" action="/GK_practice01">
                <div><a>{{ question }}</a></div>

                <div class="button-group">
                    <button type="button" onclick="location.href='/GK_menu01'" class="menu-button">Menu</button>
                    <button type="submit" class="execute-button">答え</button>
                </div>

            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Yuichi Taniguchi</p>
    </footer>
</body>

</html>